{% extends "layout.html" %}
{% block body %}

<div class="row">

     
      <div class="col-lg-8">

        <h3 class="mt-4">{{article.title}}</h3>

       
        <p class="lead">
          by
          {{article.author.username}}
        </p>
        
        <hr>
        
        <p>{{article.created_date}}</p>
        <hr>    
      {% if article.article_image %}
      <img class = "img-fluid rounded" src="{{article.article_image.url}}" alt="">
      {% endif %}
        
       
       
        <hr>
       
        <p class="lead">{{article.content|safe}}</p>
{% if comments %}
{% for comment in comments  %}
<div class="media mb-4">
<div class = "media boy">
<h5 class = "mt-0">{{comment.comment_author}}</h5>
<br>
{{comment.comment_date}}
<br>
{{comment.comment_content}}
</div>
</div>
{% endfor %}
{% else %}
<div class ="alert alert-danger">Bu makale için henüz yorum yok</div>
{% endif %}




<div class = "card my-4">
<h5 class = "card header">Yorum</h5>
<div class = "card-body">
<form action = "{%url 'article:comment' article.id%}" method = "post">
{% csrf_token %}
 <div class="form-group">
    <label for="formGroupExampleInput">İsim</label>
    <input type="text" name = "comment_author" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin:">
  </div>
<div class = "form-group">
 <label for="formGroupExampleInput">Yorum</label>
<textarea name = "comment_content" class = "form-control" row ="3"></textarea>
<button type = "submit" class = "btn btn-danger">Ekle</Button>
</div>
</form>
</div>
</div>
</div>
</div>


{% endblock body %}